<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.NLog.Fody" version="5.1.0" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net461" />
  <package id="Fody" version="6.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.0" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
  <package id="NLog" version="4.6.6" targetFramework="net461" />
  <package id="Polly.Net40Async" version="5.9.0" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="3.1.0" targetFramework="net461" />
  <package id="SharpAdbClient" version="2.2.32" targetFramework="net461" />
  <package id="Stylet" version="1.2.0" targetFramework="net461" />
  <package id="Stylet.Start" version="1.2.0" targetFramework="net461" />
</packages>